<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cercanos Film
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cercanos Film</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <Strong class="main_title">Elige tu ciudad</Strong>

    <div class="container_city">
      <div  *ngFor="let city of cities">
        <ion-img src={{city.imgUrl}} class="cityImg"></ion-img>
        <a [routerLink]="['/cinemas',city.name]"><p class="cityName">Ciudad: {{city.name}}</p></a>
      </div>
    </div>
  </div>
</ion-content>
